
  .sendMsg{
    
    .typeTime{
        display: inline-block;
    }
    .mgItem{
      .el-form-item__content{
        margin-left: 84px;
      }
      .el-form-item__error{
          padding: 0;
          margin-top: -5px;
      }
    }
    &>.el-form-item{
      margin-bottom: 16px;
    }
    .el-form-item{
      .el-form-item__label{
        width: 87px;
        color: #00eeee;
      }
    }
    .boderBlock{
        border:1px solid #00eeee;
        border-radius:5px;
        vertical-align: top;
        display: inline-block;
    }
    font-size: 14px;
    color: #00eeee;
    margin:16px 0px 20px 16px;
    border:1px solid #00eeee;
    border-radius: 5px;
    // height: 965px;
    padding:18px 0 0 20px;
    .bk{
      margin-bottom: 12px;
      .checkBoxs{
        display:inline-block;
        margin-left: 8px;
      }
    }
    .named{
      width: 75px;
      display: inline-block;
      text-align: right;
    }
    .el-input--medium .el-input__inner{
      border-color: #50dcf5;
    }
    .el-select .el-input.is-focus .el-input__inner{
      border-color: #50dcf5;
    }
    .tpc{
      width: 400px;
      // margin-left: 5px;
    }
    .el-select,.shortInput{
      width: 160px;
    }
    .nextSelect{
      margin-left: 6px;
    }

    .block{
        .el-date-editor.el-input, .el-date-editor.el-input__inner{
          width: 180px;
        }
    }
    .sendAllBtn{
      display:inline-block;
      margin-left:8px;
      img{
        width: 80px;
        height: 60px;
      }
    }
    .region{
        width: 1280px;
        padding: 10px;
        margin-left: 8px;
        .boardTree{
          margin-left: 2%;
          width: 72%;
          height: 400px;
          padding:10px;
          .sendTree{
            width: 35%;
            height: 100%;
            overflow-y: auto;
            padding: 6px;
            &::-webkit-scrollbar{
              display: none;
            }
          }
          .sendList{
            width: 61%;
            margin:0;
            padding: 0;
            margin-left: 3%;
            height: 100%;
            overflow-y: auto;
            position: relative;
            &::-webkit-scrollbar{
              display: none;
            }
            li{
              height: 40px;
              line-height: 40px;
              text-align: center;
              border-bottom: 1px solid #00eeee;
            }
            span{
              position: absolute;
              left: 50%;
              top: 50%;
              -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              color: #909399;
            }
          }
        }
      .leftList .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar{
        display: none;
      }
        .el-table .cell{
          padding: 0
        }
      .el-table th, .el-table tr{
          td{
            border-bottom: 1px solid #00eeee;
            &:last-child{
              border-left: 1px solid #00eeee;
            }
          }
      }
      .el-table__header-wrapper{
          border-bottom: 1px solid #00eeee;
          th{
            &:nth-child(2){
              border-left: 1px solid #00eeee;
            }
          }
      }
    }
    .must{
      color: red;
    }
    .btnSubmit{
      text-align: center;
      margin: 35px 0 55px;
      .goOut{
        margin-left: 40px;
      }
    }
    .note-editor.note-frame .note-editing-area .note-editable::-webkit-scrollbar{
      display: none;
    }
    .el-checkbox__input.is-disabled.is-indeterminate .el-checkbox__inner,.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner{
      background: transparent;
      border-color: #00eeee;
      &::after{
        border-color: #00eeee;
      }
    }
  }
  .note-editor.note-frame{
    margin-left: 8px;
    display: inline-block;
    vertical-align: top;
    border:1px solid #50dcf5;
    border-radius:5px;
    .note-btn{
      color:#fff;
      &:hover{
        color:#00eeee;
      }
      &:focus{
        border: none;
        color:#00eeee;
        box-shadow:none;
      }
    }
    .note-toolbar.panel-heading{
      border-bottom: 1px solid #00eeee;
      z-index: 6;
    }
    .dropdown-toggle::after{
      display:none;
    }
    .note-popover .popover-content .dropdown-menu, .panel-heading.note-toolbar .dropdown-menu{
      min-width:180px;
      background: #4E90AD;
      border-color:transparent;
      color:#fff;
      pre{
        color:#fff;
      }
      &>li:hover{
        background: rgba(1,51,74,0.15);
        color:#fff;
      }
    }
    .note-editing-area .note-editable{
      color: #fff;
      background: transparent;
    }
    .note-statusbar{
      background: transparent;
      border-color: #00eeee;
    }
    .modal-content{
      button:focus{
        outline: none
      }
      border:1px solid #00eeee;
      border-radius: 5px;
      background-image:none!important;
      margin-top: 350px!important;
      /* background: linear-gradient(to bottom, rgba(1,34,49,0.5) 0%, rgba(2,160,219,0.15) 100%) */
      background-image: url(/static/img/bgTwo.a178d248.png)!important;
      background-size: 100% 100%;
      .modal-header{
        border-color: #00eeee;
        justify-content: flex-end;
        .close{
          margin: 0;
          padding: 0;
          width: 20px;
          height: 20px;
          color: #fff;
          opacity: 1;
          display: inline-block;
          margin-right: 10px;
          &:hover{
            color: #00eeee
          }
        }
        h4{
          font-size: 16px;
        }
      }
      .modal-body{
        .form-control{
          background: transparent;
          border-color: #50dcf5;
          color: #fff;
          &:hover{
            border-color:#00eeee;
          }
          &:focus{
            border-color:#00eeee;
            box-shadow:none;
          }
        }
        input[type="checkbox"]{
          position: relative;
          top: 2px;
          margin-right: 6px;
        }
      }
      .modal-footer{
        border-color: #50dcf5;
        .btn-primary{
          width: 76px;
          height: 32px;
          font-size: 12px;
          line-height: 1;
          cursor: pointer;
          text-align: center;
          background:rgba(57,169,197,1);
          border:1px solid rgba(83,227,253,1);
          &:hover{
            background:rgba(39,130,159,1)!important;
            border:1px solid rgba(83,227,253,1)!important;
          }
        }
        .btn-primary.disabled, .btn-primary:disabled{
        }
      }
    }
  }
  .note-editor.note-frame.fullscreen{
    background: linear-gradient(to bottom left, #0a2a3c,#0d3f56 50%,#0a2a3c)!important;
  }