.manage{
    .el-input--medium .el-input__inner{
        background: transparent;
        border: 1px solid #50dcf5;
        height: 30px;
    }
    .el-select .el-input.is-focus .el-input__inner,.el-select:hover .el-input__inner{
            border-color:#00eeee;
    }
    .el-select .el-input .el-select__caret{
        line-height: 30px;
    }
    &>p{
        height: 1px;
        width: 90%;
        // bottom: -1px;
        // left: 0;
        margin: 0 auto;
        background: radial-gradient(#53e3fd 20%, transparent 80%);
    }
    .searchInfo{margin: 20px 0 22px 0;
        height: 54px;
        .el-input__inner{
            color:#fff;
        }
        &>span{
            margin-top: 12px;
            color: #00eeee;
            margin-left: 12px;
        }
        height: 32px;
        line-height: 32px;
        .el-select.el-select--medium{
            width: 115px;
        }
        
    .earcg{
        border-radius: 3px;
        display: inline-block;
        width: 96px;
        height: 30px;
        background: rgb(37, 165, 192);
        border: 1px solid rgb(37, 165, 192);
        text-align: center !important;
        line-height: 30px;
        color: #fff;
        margin: 0 36px;
        cursor: pointer;
        &:hover{
            opacity: 0.7;
        }
       }
    }
    .typeInfo,.typeInfoManage{
        margin-top: 16px;
        height: 30px;
    line-height: 30px;
        .clearList{
            float: right;
            margin-left: 24px;
            color: #00eeee;
            cursor: pointer;
            .iconfont{
                margin-right: 5px
            }
        }
        .titleType{
            font-size: 16px;
            color: #00eeee;
        }
    }
    .typeTop,.typeBom{
        width: 90%;margin: 0 auto;
    }
    .fgx{
        margin: 16px 5% 34px;
        border-bottom:1px dashed #00eeee;
    }
    .select-option{
        margin-top: 6px!important;
        background: transparent;border-color:#00eeee;
        color:#fff;
        .el-select-dropdown__item:hover,.select-option .el-select-dropdown__item:hover{
            background: #00eeee;
            color:#fff;
        }
        .el-select-dropdown__item.selected,.el-select-dropdown__empty{
            color:#fff;
        }
        .el-select-dropdown__item{
            color:#fff;
        }
        .popper__arrow::after{
            border-bottom-color:#00eeee!important;
        }
        .popper__arrow{
            top:-7px!important;
        }
        .el-input__inner{
            color:#fff;
        }
        .el-popper,.popper__arrow{
            display: none!important;
        }
    }
    .el-table{
    /* 表格字体颜色 */
    color:white;
    background-color: transparent;
    /* 表格边框颜色 */
    /* border: 0.5px solid #758a99; */
    height: 608px;    border: 1px solid rgba(0,238,238,0.4);
    border-radius: 4px;
    }
    /* 表格内背景颜色 */
    .el-table th, .el-table tr,.el-table td{
    border: 0;
    background-color: transparent;
    // padding: 0 4px;
    text-align: center;
    border-bottom: 1px solid #00eeee
    }
    /* 双数行背景颜色 */
    .el-table--striped .el-table__body tr.el-table__row--striped td {
    // background-color:#fff;
    // background-color: rgba(148, 144, 144, 0.3)
    }
    /* 使表格背景透明 */
    .el-table th, .el-table tr {
        background-color: transparent;
    }
    /* 删除表格下横线 */
    .el-table::before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0px;
    }
    /* 表格表头字体颜色 */
    .el-table thead {
    color: white;
    font-weight: 500;
    background-color: transparent;
    }
    .el-table th:hover, .el-table tr:hover,.el-table--enable-row-hover .el-table__body tr:hover>td {
        background-color: transparent;
    }
    .el-table .cell{
        padding: 0 4px;
        white-space: nowrap;
        font-size: 12px;
        height: 36px;
        line-height: 36px;
        .iconchakan{
            color: #00eeee;
        }
    }
    .el-table--medium td{
        padding: 9px 0;
    }
    .el-table--medium th{
        padding: 0;
        background: rgba(0,0,0,0.2);
        color:#00eeee;
        &:hover{
            background: rgba(0,0,0,0.2);
        }
    }
    .el-table--medium td{
        padding: 0;
    }
    .el-checkbox__inner::after{
        border-color: #00eeee;
    }
    .el-checkbox__inner{
        border-color: #00eeee;
        background: transparent;
    }
    .el-table--scrollable-y .el-table__body-wrapper::-webkit-scrollbar{
        display: none;
    }
    .el-checkbox__input.is-checked .el-checkbox__inner,.el-checkbox__inner{
        background: transparent!important;
        border-color: #00eeee!important;
    } 
}
.typeInfoRemove{
    .el-select.el-select--medium,.el-form-item--medium .el-form-item__content{
        width: 150px;
    }
    .el-input__inner,.el-input.is-disabled .el-input__inner{
        background: transparent!important;
        color: #fff!important;
        border-color: #00eeee!important;
    }
    .btn{
        cursor: pointer;
        text-align: center;
        span{
            border-radius: 3px;
            display: inline-block;
            width: 96px;
            height: 30px;
            background: rgb(37, 165, 192);
            border:1px solid rgb(37, 165, 192);
            text-align: center!important;
            line-height: 30px;
            color:#fff;
            margin:0 20px;
        }
    }
    .el-form-item.el-form-item--medium{
        margin: 40px 0 40px 160px;
    }
}
.typeInfoAdd{
    .el-select.el-select--medium,.el-form-item--medium .el-form-item__content{
        width: 150px;
    }
    .el-input__inner,.el-input.is-disabled .el-input__inner{
        background: transparent!important;
        color: #fff!important;
        border-color: #00eeee!important;
    }
    .btn{
        cursor: pointer;
        text-align: center;
        span{
            border-radius: 3px;
            display: inline-block;
            width: 96px;
            height: 30px;
            background: rgb(37, 165, 192);
            border:1px solid rgb(37, 165, 192);
            text-align: center!important;
            line-height: 30px;
            color:#fff;
            margin:0 20px;
        }
    }
    .el-form-item.el-form-item--medium{
        margin: 30px 0 30px 60px;
    }
    .sureRemove{
        font-size: 20px;
        color: #fff;
        text-align: center;
        margin: 38px
    }
}