// base color
$blue:#38a4ed;
$white:#fff;
$black:#000;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:rgba(255,255,255,0.4);
$menuActiveText:rgb(0,238,238);
$subMenuActiveText:rgb(0,238,238); // https://github.com/ElemeFE/element/issues/12951

$menuBg:rgba(0,0,0,0.4);
$menuBgActive:transparent;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 240px;


// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuBgActive: $menuBgActive;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
